includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    level: 10
    paths:
        - src/
        - tests/
    checkUninitializedProperties: true
    checkImplicitMixed: true
    checkBenevolentUnionTypes: true
    rememberPossiblyImpureFunctionValues: false
    reportPossiblyNonexistentGeneralArrayOffset: true
    reportPossiblyNonexistentConstantArrayOffset: true
    treatPhpDocTypesAsCertain: false
    exceptions:
        uncheckedExceptionRegexes:
            - '#^Symfony\\Polyfill\\Intl\\Icu\\Exception\\#'
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
